:host() {
    --yellow: #f9ba49;
    --dark-blue: #0c2451;
    --font-12: .75rem;
    --font-16: 1rem;
    --font-24: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1em;
}
.custom-card {
    max-width: 530px;
    min-width: 380px;;
    background: var(--dark-blue);
    border-radius: 1em;
    border: none;
    padding: 1em;
}

.custom-button, .custom-button:hover, .custom-button:active {
    background: var(--yellow);
    color: var(--dark-blue);
    padding: .2em;
    font-size: var(--font-24);
    margin-top: 1em;
}

.baseline{
    align-items: baseline;
}

.custom-icon {
    --slds-c-icon-color-foreground-default: var(--yellow);
    --slds-c-icon-color-background: var(--yellow);
    --slds-c-icon-color-foreground:var(--dark-blue);
    transform: rotate(45deg);
}

img {
    display: block;
    margin: 0 auto;
}

.currency-app {
    background:url(/sfsites/c/resource/currencyConverterAssets/currencyConverterAssets/currencyAppBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}