:host() {
    --bg-blue: #091f43;
    --bg-light: #fff;
    --br-color: #ccc;
    --br-color_light: #ddd;
    --btn-color: #E50046;
    --fs-medium: 1.25rem;
    --fs-large: 1.5rem;
    --fs-xlarge: 1.875rem;
}

.app {
    background: var(--bg-blue);
    min-height: 100vh;

}

.app-card {
    background:var(--bg-light);
    max-width: 400px;
    min-width: 375px;
    border-radius: 8px;
}

.flex-center {
    display: flex; 
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    font-size:var(--fs-xlarge);
    font-weight: 500;
    color: var(--bg-blue);
    padding: 1em;
    border-bottom: 1px solid var(--br-color);
}
.heading {
    margin: 0 auto;
}

input{
    width: 100%;
    padding: 1em;
    height: 55px;
    text-align: center;
    outline: none;
    font-size: var(--fs-large);
    border-radius: 8px;
    border: 1px solid var(--br-color);
}

input::placeholder{
    color: var(--br-color_light);
}

button {
    width: 100%;
    padding: .5em;
    text-align: center;
    outline: none;
    font-size: var(--fs-large);
    border-radius: 8px;
    border: none;
    background-color: var(--btn-color);
    color: var(--bg-light);
    cursor: pointer;
}

.fetch-success {
    color: #155724;
    background: #e4edda;
    padding: 1em;
    margin: .5em;
}

.fetch-error {
    color: #721c24;
    background: #f8d7da;
    padding: 1em;
    margin: .5em;
}

.text-center {
    text-align: center;

}

.temperature {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: normal;
}

.description, .location {
    font-size: 1.5rem;
    line-height: 32px;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #dedede;
}

.feels-like {
    width: 100%;
    padding: 1em;
}

.humidity {
    width: 100%;
    border-left: 1px solid #dedede;
    padding: 1em;
}

.weather-icon {
    max-width: 125px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-width: 150px;
    max-width: 200px;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
}

.cursor {
    cursor: pointer;
}

